name: security-scan

on: 
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  check-for-merge-conflicts:
    runs-on: ubuntu-latest

    steps:
      - name: Stop the merge
      - run: exit 1
  
  
